<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mysuite">
    <test name="mytest">
        <classes>
           <!-- <class name="Testcases.HomepageTestcase"></class>-->
           <class name="Testcases.RegisterTestcase"></class>
            <!--<class name="Testcases.LoginTestcase"></class>-->
        </classes>
    </test>
</suite>

